@import "~bootstrap/scss/bootstrap.scss";

@import "./styles/variables.scss";
@import "./styles/Navbar.scss";
@import "./styles/Buttons.scss";
@import "./styles/Inputs.scss";
@import "./styles/Auth.scss";
@import "./styles/Drawer.scss";
@import "./styles/Layout.scss";

html {
  height: 100%;
}

body {
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
