.new-post-mode-wrapper {
  height: calc(100vh - #{$header-height});

  $bg: rgba(0, 0, 0, 0.2);
  $duration: 0.3s;
  $blur-amount: 15px;

  .side {
    cursor: pointer;
    font-size: 6rem;
    @media screen and (max-width: 576px) {
      height: calc(50vh - #{$header-height} / 2);
    }

    .left-side-container {
      background-color: rgb(78, 78, 231);
    }

    .right-side-container {
      background-color: rgb(231, 78, 78);
    }

    .side-container {
      -webkit-transition: $duration -webkit-filter linear;
      -moz-transition: $duration -moz-filter linear;
      -o-transition: $duration -o-filter linear;
      transition: $duration filter linear;
      transition: $duration -webkit-filter linear;
    }

    &:hover {
      .side-container {
        -webkit-filter: blur($blur-amount);
        -moz-filter: blur($blur-amount);
        -o-filter: blur($blur-amount);
        -ms-filter: blur($blur-amount);
        filter: blur($blur-amount);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
      .icon {
        opacity: 0;
      }
    }

    .icon {
      -webkit-transition: opacity $duration;
      -moz-transition: opacity $duration;
      -ms-transition: opacity $duration;
      -o-transition: opacity $duration;
      transition: opacity $duration;
    }

    .overlay {
      font-size: 5rem;
      font-weight: bold;
      position: absolute;
      text-align: center;
      z-index: 2;
      opacity: 0;

      -webkit-transition: opacity $duration;
      -moz-transition: opacity $duration;
      -ms-transition: opacity $duration;
      -o-transition: opacity $duration;
      transition: opacity $duration;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

.drawer-wrapper {
  .icon {
    font-size: 30px;
    cursor: pointer;

    &.mode {
      opacity: 0.6;
      &.active {
        opacity: 1;
      }
    }

    @media screen and (max-width: 576px) {
      font-size: 20px;
    }
  }
  .line-width {
    opacity: 0.6;
    border: 1px solid black;
    cursor: pointer;
    &.active {
      border: 3px solid black;
      opacity: 1;
    }
  }
  #line-width-1 {
    $d: 14px;
    width: $d;
    height: $d;
    border-radius: $d / 2;
  }
  #line-width-2 {
    $d: 18px;
    width: $d;
    height: $d;
    border-radius: $d / 2;
  }
  #line-width-3 {
    $d: 22px;
    width: $d;
    height: $d;
    border-radius: $d / 2;
  }
  .compact-picker {
    .flexbox-fix {
      display: none !important;
    }
  }

  .canvas-wrapper {
    border: 2px solid black;
  }
}
