.new-post-mode-wrapper {
  height: calc(100vh - #{$header-height});

  $bg: rgba(0, 0, 0, 0.2);
  $duration: 0.3s;
  $blur-amount: 15px;

  .side {
    cursor: pointer;
    font-size: 6rem;
    @media screen and (max-width: 576px) {
      height: calc(50vh - #{$header-height} / 2);
    }

    .left-side-container {
      background-color: rgb(78, 78, 231);
    }

    .right-side-container {
      background-color: rgb(231, 78, 78);
    }

    .side-container {
      -webkit-transition: $duration -webkit-filter linear;
      -moz-transition: $duration -moz-filter linear;
      -o-transition: $duration -o-filter linear;
      transition: $duration filter linear;
      transition: $duration -webkit-filter linear;
    }

    &:hover {
      .side-container {
        -webkit-filter: blur($blur-amount);
        -moz-filter: blur($blur-amount);
        -o-filter: blur($blur-amount);
        -ms-filter: blur($blur-amount);
        filter: blur($blur-amount);
        filter: progid:DXImageTransform.Microsoft.Blur(PixelRadius='3');
      }
    }

    &:hover {
      .overlay {
        opacity: 1;
      }
      .icon {
        opacity: 0;
      }
    }

    .icon {
      -webkit-transition: opacity $duration;
      -moz-transition: opacity $duration;
      -ms-transition: opacity $duration;
      -o-transition: opacity $duration;
      transition: opacity $duration;
    }

    .overlay {
      font-size: 5rem;
      font-weight: bold;
      position: absolute;
      text-align: center;
      z-index: 2;
      opacity: 0;

      -webkit-transition: opacity $duration;
      -moz-transition: opacity $duration;
      -ms-transition: opacity $duration;
      -o-transition: opacity $duration;
      transition: opacity $duration;

      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#canvas {
  border: 2px solid black;
}
