header {
    background-color: $header-background;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: $header-color;

    a {
        color: $header-color;

        &:hover {
            color: $header-color-hover;
        }
    }

    .logo {
        width: 70px; 
        height: 30px;
        object-fit: cover;
        object-position: center;
    }
}

