.post-feed {
  min-height: calc(100vh - #{$header-height});
  background-color: $light-blue;

  .post {
    cursor: pointer;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .fab-add-post {
    background-color: $danger-color;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;

    a {
      color: black;
    }

    @media screen and (max-width: 576px) {
      bottom: 20px;
      right: 20px;
    }
  }
}

.post-details-page {
  min-height: calc(100vh - #{$header-height});
  background-color: $light-blue;
  .post-details {
    box-shadow: 0px 2px 20px -1px rgba(0, 0, 0, 0.2),
      0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12) !important;
  }
}
