.post-feed {
  height: calc(100vh - #{$header-height});
  background-color: $light-blue;

  .post {
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .fab-add-post {
    background-color: $danger-color;
    position: absolute;
    bottom: 10%;
    right: 10%;

    a {
      color: black;
    }

    @media screen and (max-width: 576px) {
      bottom: 20px;
      right: 20px;
    }
  }
}
