.post-feed {
  min-height: calc(100vh - #{$header-height});
  background-color: $light-blue;

  .post {
    cursor: pointer;
    @media screen and (max-width: 576px) {
      width: 100%;
    }
  }

  .fab-add-post {
    background-color: $danger-color;
    color: white;
    position: fixed;
    bottom: 30px;
    right: 30px;

    a {
      color: black;
    }

    @media screen and (max-width: 576px) {
      bottom: 20px;
      right: 20px;
    }
  }
}
