$primary-color: #16405b;

$login-background-start: rgba(22, 64, 91, 1);
$login-background-end: rgba(22, 64, 90, 0.2);

$header-height: 55px;
$header-color: #000000;
$header-color-hover: #16405b;
$header-background: #a09f9f;

$error: #ee0d0d;
